* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
    
    background: black;
}

.box{
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background: black;
    transition: 0.5s;
    color: white;
}


.box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.box .imgBx img{
    max-width: 100%;
    opacity: 0.2;
    transition: 0.5s;
}

.box:hover .imgBx img{
    opacity: 1;
}

.box:before{
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: #fff;
    z-index: -1;
}

.box:after{
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: #fff;
    z-index: -2;
    filter: blur(5px);
}

.content{
    padding: 9px;
    text-align: center;
    font-size: 15px;
}

.box:nth-child(1):before,
.box:nth-child(1):after{

background: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgb(63,94,251) 100%);
}

.box:nth-child(2):before,
.box:nth-child(2):after{

    background: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(241,196,15,1) 100%);
}

.box:nth-child(3):before,
.box:nth-child(3):after{

background: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(72,219,251,1) 100%);
}

.box:nth-child(4):before,
.box:nth-child(4):after{

background: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(252,70,107,1) 100%);
}

.box:nth-child(5):before,
.box:nth-child(5):after{
background: linear-gradient(180deg, rgba(0,0,0,1) 10%, #20bf6b);
}

.box:nth-child(6):before,
.box:nth-child(6):after{
background: linear-gradient(180deg, rgba(0,0,0,1) 10%, #b2bec3);
}

.box:hover img{
    transition:  ease-out 0.4s;
    transform: scale(1.4) rotate(10deg);
}


.box:nth-child(1):hover::after{
    filter:blur(50px);
    background: rgb(63,94,251)
}

.box:nth-child(2):hover::after{
    filter:blur(50px);
    background: #f1c40f;
}

.box:nth-child(3):hover::after{
    filter:blur(50px);
    background: #48dbfb;
}

.box:nth-child(4):hover::after{
    filter:blur(50px);
    background: rgba(252,70,107,1)
}

.box:nth-child(5):hover::after{
    filter:blur(50px);
    background: #20bf6b;
}

.box:nth-child(6):hover::after{
    filter:blur(50px);
    background: #b2bec3;
}